@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Regular.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
} */
