@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/fonts/Gilroy-Regular.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .landing-page-bg {
    background-image: url("../public/image/landing-page/landing-page-bg.png");
    @apply bg-no-repeat bg-cover bg-center;
  }
  .showcase-bg {
    background-image: url("https://res.cloudinary.com/dexg5uy3d/image/upload/v1655430807/Lilydusk_-_Become_a_Patron_Clicked_1_b4d9cw.png");
    @apply bg-no-repeat bg-cover bg-center;
  }
}
