@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Gilroy-Regular.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes lineAnim {
  from {
    transform: translate3d(-8px, 3px, 0);
  }
  to {
    transform: translate3d(8px, 3px, 0);
  }
}

@layer base {
  input,
  button {
    @apply focus-visible:outline-none;
  }
  .landing-page-bg {
    background-image: url("https://res.cloudinary.com/dexg5uy3d/image/upload/v1655589212/landing-page-bg_i7fddv.png");
    @apply bg-no-repeat bg-cover bg-center;
  }
  .showcase-bg {
    background-image: url("https://res.cloudinary.com/dexg5uy3d/image/upload/v1655430807/Lilydusk_-_Become_a_Patron_Clicked_1_b4d9cw.png");
    @apply bg-no-repeat bg-cover bg-center;
  }
  .backdrop-filter {
    backdrop-filter: blur(30px);
  }
  .loading-bounce {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
  }
  .loading-line {
    animation: lineAnim 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
